# venv
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Data + checkpoints (too big for git)
data/
checkpoints/
*.pth
*.pt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Misc
*.log
